.sidebar{
    height:80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .nav{
       // background-color: red;
        font-size: 1.5rem;
        &__box{
            &-link:link,
            &-link:visited{
                text-decoration: none;
                display: flex;
                align-items: center;
                padding: 1.5rem 3rem;
                color:var(--Grey-light-1);

            }
          
            &-icon{
                width:2rem;
                height:2rem;
                margin-right: 2rem;
                fill: currentColor;
            }
            &::before{
                content: "";
                display: block;
                height: 100%;
                background-color: orangered;
            }
            
        }

    }
    
}